SERVER_NAME="Palworld Docker"

# Use literal \n for line breaks.
# Keep SERVER_DESCRIPTION in single quotes.
SERVER_DESCRIPTION='This is a Palworld server.\n\nThis is the second paragraph.'

SERVER_PASSWORD=""
ADMIN_PASSWORD=ChangeMe
MAX_PLAYERS=32
PORT=8211

RESTAPI_ENABLED=True
RESTAPI_PORT=8212

RCON_ENABLED=False
RCON_PORT=25575

PUBLIC_LOBBY=True

PALBOX_EXPORT=True
PALBOX_IMPORT=True
SHOW_PLAYER_LIST=True

# Additional Palworld startup arguments.
ADDITIONAL_ARGS=

SFT_USER=foo
SFT_PASS=pass
SFT_PORT=2522
